body {
  *zoom: 1;
  min-width: 100%;
  width: 100%;
}
body:before, body:after {
  content: '';
  display: table;
}
body:after {
  clear: both;
}

#main {
  *zoom: 1;
  margin: 0 auto;
}
#main:before, #main:after {
  content: '';
  display: table;
}
#main:after {
  clear: both;
}
#main #content-wrapper,
#main #postscript-wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  *zoom: 1;
  margin-bottom: 1em;
}
#main #content-wrapper:before, #main #content-wrapper:after,
#main #postscript-wrapper:before,
#main #postscript-wrapper:after {
  content: '';
  display: table;
}
#main #content-wrapper:after,
#main #postscript-wrapper:after {
  clear: both;
}
#main #content,
#main #sidebar_first,
#main #sidebar_second,
#main #postscript_first {
  display: block;
  position: relative;
  clear: none;
  width: 97.91667%;
  margin-right: 1.04167%;
  margin-left: 1.04167%;
  float: left;
  margin-bottom: 1em;
}
#main #content {
  display: block;
  position: relative;
  clear: none;
  width: 97.91667%;
  margin-right: 1.04167%;
  margin-left: 1.04167%;
  float: left;
  margin-bottom: 1em;
}
#main #postscript_second,
#main #postscript_third {
  display: block;
  position: relative;
  clear: none;
  width: 47.91667%;
  margin-right: 1.04167%;
  margin-left: 1.04167%;
  float: left;
}

@media screen and (min-width: 480px) and (max-width: 719px) {
  #main #content {
    display: block;
    position: relative;
    clear: none;
    width: 97.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    margin-bottom: 1em;
  }
  #main #sidebar_first {
    display: block;
    position: relative;
    clear: none;
    width: 47.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    left: 50%;
    right: auto;
  }
  #main #sidebar_second {
    display: block;
    position: relative;
    clear: none;
    width: 47.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    right: 50%;
    left: auto;
  }
}
@media screen and (min-width: 720px) and (max-width: 959px) {
  #main #content {
    display: block;
    position: relative;
    clear: none;
    width: 72.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    margin-bottom: 1em;
  }
  #main #sidebar_first {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  #main #sidebar_second {
    display: block;
    position: relative;
    clear: none;
    width: 97.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  #main #postscript_first,
  #main #postscript_second,
  #main #postscript_third {
    display: block;
    position: relative;
    clear: none;
    width: 31.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #main #content {
    display: block;
    position: relative;
    clear: none;
    width: 47.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    left: 50%;
    right: auto;
  }
  #main #sidebar_first {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    right: 50%;
    left: auto;
  }
  #main #sidebar_second {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    right: 50%;
    left: auto;
  }
  #main #postscript_first {
    display: block;
    position: relative;
    clear: none;
    width: 47.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  #main #postscript_second {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  #main #postscript_third {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
}
@media screen and (min-width: 1200px) {
  #main #content {
    display: block;
    position: relative;
    clear: none;
    width: 47.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    left: 25%;
    right: auto;
  }
  #main #sidebar_first {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    right: 50%;
    left: auto;
  }
  #main #sidebar_second {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  #main #postscript_first {
    display: block;
    position: relative;
    clear: none;
    width: 31.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  #main #postscript_second {
    display: block;
    position: relative;
    clear: none;
    width: 31.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  #main #postscript_third {
    display: block;
    position: relative;
    clear: none;
    width: 31.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
}
