/*
 * SAMPLE GRID SIZES ###########################
 * Use these, or your own calculations for a fixed width grid.
 * 1200px Grid =========
 *   $cwidth: 80; $gutter: 20; $cols: 12; 
 *   $cwidth: 55; $gutter: 20; $cols: 16;
 *
 * 960px Grid =========
 *   $cwidth: 60; $gutter: 20; $cols: 12; 
 *   $cwidth: 40; $gutter: 20; $cols: 16;
 * Fluid Grid =========
 *   $cwidth: 60; $gutter: 20; $cols: 12; 
 *   $cwidth: 40; $gutter: 20; $cols: 16;
 */
/* Utility function to simplify math used in mixins 
 * Will convert (when needed) widths to a percentage
 */
/* Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. 
 * See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html
 */
body {
  width: 100%;
  min-width: 960px;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

/**
 *  You have the ability to specify the default number of columns used in the grid here
 *  This recalculates the available space in a "row" so that the grid widths are standardized
 *  in the full layout.
 *  This only becomes apparent in fluid and nested layouts
 */
/* While in a standard, fixed-width grid, it's easy to remove margins for nested grids, in a fluid layout it 
	 * poses a small problem when determining the full width of the elements. 
	 * For now, we assume that we should take that margin we are removing and put it on the other margin
	 * This could however, be added to the width of the element instead, but that could cause "quirks" as well depending
	 * on design.
	 *
	 * Essentially, I don't recommend using the column() mixin for nested columns inside a fluid layout
   */
/* Content First push/pull effects */
/* Prefix/Suffix add padding to the left/right of an element to widen the gutter and additional column space */
#main {
  *zoom: 1;
}
#main:before, #main:after {
  content: "";
  display: table;
}
#main:after {
  clear: both;
}
#main #content-wrapper,
#main #postscript-wrapper {
  display: block;
  margin: 0 auto;
  /* default row width */
  /* assuming the layout is fluid, just skip calculations and make the row 100% width for sanity in nested layouts */
  width: 960px;
  /* IE 6 & 7 sub-pixel rounding fix */
  *width: 959.896px;
  /* Make sure the row clears itself */
  *zoom: 1;
  margin-bottom: 1em;
}
#main #content-wrapper:before, #main #content-wrapper:after,
#main #postscript-wrapper:before,
#main #postscript-wrapper:after {
  content: "";
  display: table;
}
#main #content-wrapper:after,
#main #postscript-wrapper:after {
  clear: both;
}
#main #content {
  display: block;
  position: relative;
  /* default width & margin values */
  width: 460px;
  margin: 0 10px 0 10px;
  /* IE 6 & 7 sub-pixel rounding fix */
  *width: 459.896px;
  *margin: 0 9.896px 0 9.896px;
  /* RTL/LTR switching */
  float: left;
}
#main #sidebar_first {
  display: block;
  position: relative;
  /* default width & margin values */
  width: 220px;
  margin: 0 10px 0 10px;
  /* IE 6 & 7 sub-pixel rounding fix */
  *width: 219.896px;
  *margin: 0 9.896px 0 9.896px;
  /* RTL/LTR switching */
  float: left;
}
#main #sidebar_second {
  display: block;
  position: relative;
  /* default width & margin values */
  width: 220px;
  margin: 0 10px 0 10px;
  /* IE 6 & 7 sub-pixel rounding fix */
  *width: 219.896px;
  *margin: 0 9.896px 0 9.896px;
  /* RTL/LTR switching */
  float: left;
}
#main #postscript_first {
  display: block;
  position: relative;
  /* default width & margin values */
  width: 300px;
  margin: 0 10px 0 10px;
  /* IE 6 & 7 sub-pixel rounding fix */
  *width: 299.896px;
  *margin: 0 9.896px 0 9.896px;
  /* RTL/LTR switching */
  float: left;
}
#main #postscript_second {
  display: block;
  position: relative;
  /* default width & margin values */
  width: 300px;
  margin: 0 10px 0 10px;
  /* IE 6 & 7 sub-pixel rounding fix */
  *width: 299.896px;
  *margin: 0 9.896px 0 9.896px;
  /* RTL/LTR switching */
  float: left;
}
#main #postscript_third {
  display: block;
  position: relative;
  /* default width & margin values */
  width: 300px;
  margin: 0 10px 0 10px;
  /* IE 6 & 7 sub-pixel rounding fix */
  *width: 299.896px;
  *margin: 0 9.896px 0 9.896px;
  /* RTL/LTR switching */
  float: left;
}
