// Default grid sizing (960px)
$omegags-column-width:        60px;    // column width
$omegags-gutter-width:        20px;    // gutter width
$omegags-column-count:          12;    // total # of cols
$omegags-direction:           'RTL'; // LTR or RTL
//$omegags-total-width:        100%;  // uncomment to use percentage based layout

@import 'omegags';

.main {
  @include clearfix();

  .content-wrapper,
  .postscript-wrapper {
    @include row(12);
    margin-bottom: 1em;
  }

  .content {
	  @include column(6);
  }

  .sidebar-first {
  	@include column(3);
  }

  .sidebar-second {
  	@include column(3);
  }

  .postscript-first {
    @include column(4);
  }

  .postscript-second {
    @include column(4);
  }

  .postscript-third {
    @include column(4);
  }
}
