body {
  *zoom: 1;
  min-width: 100%;
  width: 100%;
}
body:before, body:after {
  content: '';
  display: table;
}
body:after {
  clear: both;
}

.main {
  *zoom: 1;
  margin: 0 auto;
}
.main:before, .main:after {
  content: '';
  display: table;
}
.main:after {
  clear: both;
}
.main .content-wrapper,
.main .postscript-wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  *zoom: 1;
  margin-bottom: 1em;
}
.main .content-wrapper:before, .main .content-wrapper:after,
.main .postscript-wrapper:before,
.main .postscript-wrapper:after {
  content: '';
  display: table;
}
.main .content-wrapper:after,
.main .postscript-wrapper:after {
  clear: both;
}
.main .content,
.main .sidebar-first,
.main .sidebar-second,
.main .postscript-first {
  display: block;
  position: relative;
  clear: none;
  width: 97.91667%;
  margin-right: 1.04167%;
  margin-left: 1.04167%;
  float: left;
  margin-bottom: 1em;
}
.main .content {
  display: block;
  position: relative;
  clear: none;
  width: 97.91667%;
  margin-right: 1.04167%;
  margin-left: 1.04167%;
  float: left;
  margin-bottom: 1em;
}
.main .postscript-second,
.main .postscript-third {
  display: block;
  position: relative;
  clear: none;
  width: 47.91667%;
  margin-right: 1.04167%;
  margin-left: 1.04167%;
  float: left;
}

@media all and (min-width: 480px) and (max-width: 719px) {
  /* (480px) */
  .main .content-wrapper,
  .main .postscript-wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    *zoom: 1;
    margin-bottom: 1em;
  }
  .main .content-wrapper:before, .main .content-wrapper:after,
  .main .postscript-wrapper:before,
  .main .postscript-wrapper:after {
    content: '';
    display: table;
  }
  .main .content-wrapper:after,
  .main .postscript-wrapper:after {
    clear: both;
  }
  .main .content {
    display: block;
    position: relative;
    clear: none;
    width: 47.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    margin-bottom: 1em;
  }
  .main .sidebar-first {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    left: 25%;
    right: auto;
  }
  .main .sidebar-second {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    right: 25%;
    left: auto;
  }
}
@media all and (min-width: 720px) and (max-width: 959px) {
  /* (720px) */
  .main .content-wrapper,
  .main .postscript-wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    *zoom: 1;
    margin-bottom: 1em;
  }
  .main .content-wrapper:before, .main .content-wrapper:after,
  .main .postscript-wrapper:before,
  .main .postscript-wrapper:after {
    content: '';
    display: table;
  }
  .main .content-wrapper:after,
  .main .postscript-wrapper:after {
    clear: both;
  }
  .main .content {
    display: block;
    position: relative;
    clear: none;
    width: 72.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    margin-bottom: 1em;
  }
  .main .sidebar-first {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  .main .sidebar-second {
    display: block;
    position: relative;
    clear: none;
    width: 97.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  .main .postscript-first,
  .main .postscript-second,
  .main .postscript-third {
    display: block;
    position: relative;
    clear: none;
    width: 31.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
}
@media all and (min-width: 960px) and (max-width: 1199px) {
  /* (960px) */
  .main .content-wrapper,
  .main .postscript-wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    *zoom: 1;
    margin-bottom: 1em;
  }
  .main .content-wrapper:before, .main .content-wrapper:after,
  .main .postscript-wrapper:before,
  .main .postscript-wrapper:after {
    content: '';
    display: table;
  }
  .main .content-wrapper:after,
  .main .postscript-wrapper:after {
    clear: both;
  }
  .main .content {
    display: block;
    position: relative;
    clear: none;
    width: 47.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    left: 50%;
    right: auto;
  }
  .main .sidebar-first {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    right: 50%;
    left: auto;
  }
  .main .sidebar-second {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    right: 50%;
    left: auto;
  }
  .main .postscript-first {
    display: block;
    position: relative;
    clear: none;
    width: 47.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  .main .postscript-second {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  .main .postscript-third {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
}
@media all and (min-width: 1200px) {
  /* (1200px) */
  .main .content-wrapper,
  .main .postscript-wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    *zoom: 1;
    margin-bottom: 1em;
  }
  .main .content-wrapper:before, .main .content-wrapper:after,
  .main .postscript-wrapper:before,
  .main .postscript-wrapper:after {
    content: '';
    display: table;
  }
  .main .content-wrapper:after,
  .main .postscript-wrapper:after {
    clear: both;
  }
  .main .content {
    display: block;
    position: relative;
    clear: none;
    width: 47.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    left: 25%;
    right: auto;
  }
  .main .sidebar-first {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
    right: 50%;
    left: auto;
  }
  .main .sidebar-second {
    display: block;
    position: relative;
    clear: none;
    width: 22.91667%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  .main .postscript-first {
    display: block;
    position: relative;
    clear: none;
    width: 31.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  .main .postscript-second {
    display: block;
    position: relative;
    clear: none;
    width: 31.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
  .main .postscript-third {
    display: block;
    position: relative;
    clear: none;
    width: 31.25%;
    margin-right: 1.04167%;
    margin-left: 1.04167%;
    float: left;
  }
}

/*# sourceMappingURL=adaptive.css.map */
