// Default grid sizing (960px)
$cwidth:        60px;    // column width
$gutter:        20px;    // gutter width 
$cols:          12;    // total # of cols
$dir:           'LTR'; // LTR or RTL
//$twidth:        100%;  // uncomment to use percentage based layout

@import '../../../style/scss/omega.scss';

#main {
  @include clearfix();
  
  #content-wrapper,
  #postscript-wrapper {
    @include row(12);
    margin-bottom: 1em;
  }
  
  #content {
	  @include column(6);
  }

  #sidebar_first {
  	@include column(3);
  }

  #sidebar_second {
  	@include column(3);
  }
  
  #postscript_first {
    @include column(4);
  }
  
  #postscript_second {
    @include column(4);
  }
  
  #postscript_third {
    @include column(4);
  }
}