// Remove the definition below for a pixel-based layout
$omegags-total-width: 100%;

@import 'omegags';

// Main mobile-first layout
.main {
  @include clearfix();
  margin: 0 auto;

  .content-wrapper,
  .postscript-wrapper {
    @include row(12);
    margin-bottom: 1em;
  }

  .content,
  .sidebar-first,
  .sidebar-second,
  .postscript-first {
  	@include column(12);
  	margin-bottom: 1em;
  }

  .content {
    @include column(12);
    margin-bottom: 1em;
  }
  .postscript-second,
  .postscript-third {
    @include column(6);
  }
}


// landscape mobile
@media all and (min-width: 480px) and (max-width: 719px) {
  /* (480px) */
  $omegags-column-width: 70px;
  $omegags-gutter-width: 10px;
  $omegags-column-count: 6;
  $omegags-total-width: gwidth($omegags-column-count);

  .main {
    .content-wrapper,
    .postscript-wrapper {
      @include row(6);
      margin-bottom: 1em;
    }
  	.content {
  	  @include column(6);
  	  margin-bottom: 1em;
    }
    .sidebar-first {
    	@include column(3);
    	@include push(3);
    }
    .sidebar-second {
    	@include column(3);
    	@include pull(3);
    }
  }
}

// portrait tablet/small screen
@media all and (min-width: 720px) and (max-width: 959px) {
  /* (720px) */
  $omegags-column-width: 40px;
  $omegags-gutter-width: 20px;
  $omegags-column-count: 12;
  $omegags-total-width: gwidth($omegags-column-count);

  .main {
    .content-wrapper,
    .postscript-wrapper {
      @include row(12);
      margin-bottom: 1em;
    }
  	.content {
  	  @include column(9);
  	  margin-bottom: 1em;
    }
    .sidebar-first {
    	@include column(3);
    }
    .sidebar-second {
    	@include column(12);
    }
    .postscript-first,
    .postscript-second,
    .postscript-third {
      @include column(4);
    }
  }
}

// larger screen
@media all and (min-width: 960px) and (max-width: 1199px) {
  /* (960px) */
  $omegags-column-width: 60px;
  $omegags-gutter-width: 20px;
  $omegags-column-count: 12;
  $omegags-total-width: gwidth($omegags-column-count);

  .main {
    .content-wrapper,
    .postscript-wrapper {
      @include row(12);
      margin-bottom: 1em;
    }

  	.content {
  	  @include column(6);
  	  @include push(6);
    }

    .sidebar-first {
    	@include column(3);
    	@include pull(6);
    }

    .sidebar-second {
    	@include column(3);
    	@include pull(6);
    }

    .postscript-first {
      @include column(6);
    }

    .postscript-second {
      @include column(3);
    }

    .postscript-third {
      @include column(3);
    }
  }
}

// larger screen
@media all and (min-width: 1200px) {
  /* (1200px) */
  $omegags-column-width: 80px;
  $omegags-gutter-width: 20px;
  $omegags-column-count: 12;
  $omegags-total-width: gwidth($omegags-column-count);

  .main {

    .content-wrapper,
    .postscript-wrapper {
      @include row(12);
      margin-bottom: 1em;
    }
  	.content {
  	  @include column(6);
  	  @include push(3);
    }

    .sidebar-first {
    	@include column(3);
    	@include pull(6);
    }

    .sidebar-second {
    	@include column(3);
    }

    .postscript-first {
      @include column(4);
    }

    .postscript-second {
      @include column(4);
    }

    .postscript-third {
      @include column(4);
    }
  }
}
